<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="departmentDAO"
          class="com.flyex.daoimpl.DepartmentImplDAO">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <bean id="update" class="com.flyex.daoimpl.Update">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="studentDaoImpl" class="com.flyex.new_springjdbc.dao.impl.StudentDaoImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="jdbcBean" class="com.flyex.new_springjdbc.dao.jdbcTemplate.JdbcStudentDao">
        <property name="dataSource" ref="dataSource" />
    </bean>
</beans>