<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
<!--<bean id="userDao" lazy-init="true" scope="prototype" class="com.user.UserDao"></bean>
    <alias name="userDao" alias="userDao2"></alias> -->
    <!--下面静态工厂方法测试-
    <bean id="userStaticFactory" factory-method="getInstance" class="com.user.UserStaticFactory"></bean>
    实例工厂方法
    <bean id="userPublicFactory" class="com.user.UserPublicFactory"></bean>
    <bean id="instance" factory-bean="userPublicFactory" factory-method="getInstance"></bean>-->
    <!--<bean id="person" class="com.DI.Person">
        <property name="age" value="12"></property>
        <property name="pid" value="12"></property>
        <property name="name" value="小米"></property>
        <property name="students" ref="students"></property>
        <property name="list">
            <list>
                <value>1</value>
                <ref bean="students"/>
                <value>2</value>
            </list>
        </property>
    </bean>
    <bean id="students" class="com.DI.Students">
        <property name="name" value="花花"></property>
        <property name="age" value="15"></property>
    </bean> -->
    <!--<context:component-scan base-package=""></context:component-scan>-->
    <!--<context:component-scan base-package="com.user"></context:component-scan>
    <context:component-scan base-package="com.DI"></context:component-scan>-->
    <context:component-scan base-package="com.component"></context:component-scan>
</beans>