<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring_struts+mybatis:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_struts_mybatis_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring_struts+mybatis/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring_struts+mybatis" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="struts-1.3.x" />
          <element id="library" level="project" name="Spring-4.3.18.RELEASE" />
          <element id="library" level="project" name="mybatis-3.4.6" />
          <element id="library" level="project" name="javax.annotation-api-1.3.2" />
          <element id="library" level="project" name="spring-webmvc-4.3.18.RELEASE" />
          <element id="library" level="project" name="spring-web-4.3.18.RELEASE" />
          <element id="library" level="project" name="mybatis-spring-1.3.2" />
          <element id="library" level="project" name="jstl" />
          <element id="library" level="project" name="standard-1.1.2" />
          <element id="library" level="project" name="mysql-connector-java-8.0.12" />
        </element>
      </element>
    </root>
  </artifact>
</component>